@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@300;400;500;600;700;800&family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* { box-sizing: border-box; }

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  background: #f6f5f0;
  color: #1a1a14;
}

.font-serif { font-family: 'Lora', serif; }
.font-mono  { font-family: 'JetBrains Mono', monospace; }

html { scroll-behavior: smooth; }
